::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
background: #0f0904;
border-bottom: 1px solid #8b4513;
border-right: 1px solid #8b4513;
border-left: 1px solid #000000;
border-top: 1px solid #000000;
}

::-webkit-scrollbar-thumb {
background: #421d0c;
border-top: 1px solid #8b4513;
border-left: 1px solid #8b4513;
border-right: 1px solid #000000;
border-bottom: 1px solid #000000; 
}

body{
    background-image: url(../images/VihlBG.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: bisque;
    font-family: 'Times New Roman', Times, serif;
}

h1, h2, h3, h4, h5, h6{
    font-weight: normal;
    font-family: vihlFont, fantasy;
    text-decoration: solid underline;
}

h3{
    width: 70%;
    border-bottom: 2px ridge #8b4513;
    border-top: 2px ridge #8b4513;
}

p{
    width: 70%;
}

.newsBlock{
    background-color: #1a0d05;
    border: 2px ridge #8b4513;
    width: 50%;
}
.newsBlock img{
    width: 100%;
    height: 150px;
}
.newsBlock:hover{
    background-color: #1f1209;
    cursor: pointer;
}
.newsBlock:active{
    background-color: #991d14;
}
.contentText:first-letter{
    color: #991d14;
    font-size: 40px;
    font-family: vihlFont, fantasy;
}


#gameTitle{
    width: 40%;
}

#header{
    width: 99%;
}

#content{
    margin-top: 50px;
    background-color: #0f090498;
    width: 60%;
    border: 2px ridge #8b4513;
}

@font-face{
    font-family: vihlFont;
    src: url("../fonts/dum1.ttf");
}