body{
    background-color: #180e17;
    color: #000000;
    font-family: mainFont;
    font-size: larger;
    margin: 0px;
    overflow: hidden;
}
a{
    background-color: #000000;
    color: #ffffff;
    bottom: 0;
    padding-left: 4px;
    padding-right: 4px;
    text-decoration: none;
    text-transform: uppercase;
}
a:hover{
    cursor: pointer;
    border-bottom: 2px solid #72106d;
}
a:active{
    background-color: #72106d;
}
a:visited{
    color: #ffffff;
}
button{
    background-color: #000000;
    color: #ffffff;
    padding-left: 4px;
    padding-right: 4px;
    text-decoration: none;
}
button:hover{
    cursor: pointer;
}
p:hover, h1:hover{
    cursor: default;
}

/* ScrollBar */
::-webkit-scrollbar {
    width: 15px;
    padding-left: 0px;
}

::-webkit-scrollbar-track {
    background: #ebebeb;
    border: #acacac 1px solid;
}

::-webkit-scrollbar-thumb {
background: #acacac;
}
  

/* Classes */

.center{
    background-color: #ebebeb;
    margin: auto;
    width: 600px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 1px solid #000000;
}
.center h1{
    color: #ffffff;
    background-color: #000000;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0px;
}
.center h1 img{
    position: relative;
    top: 3px;
    width: 20px;
}
.closeBox{
    background-image: url("./images/closeicon.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 22px;
    position: absolute;
    text-align: center;
    top: 3px;
    right: 2px;
    filter: saturate(100%);
}
.closeBox:hover{
    cursor: pointer;
}
.closeBox:active{
    background-image: url("./images/closeiconactive.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.commisionCategory{
    width: 240px;
    height: 100%;
    background-color: #000000;
}
.commisionCategory:hover{
    background-color: #191889;
    cursor: pointer;
    filter: brightness(110%);
}
.commisionCategory:active{
    filter: brightness(130%);
}
.commStatus{
    text-align: center;
    position: absolute;
    width: 235px;
    bottom: 2px;
    margin: 0px;
    padding: 0px;
}
.commStatus:hover{
    cursor: pointer;
    margin: 0px;
    padding: 0px;
}
.current{
    background-color: #72106d;
    float: left;
    text-align: center;
    width: 240px;
    height: 100%;
}
.current:hover{
    cursor: default;
}
.current a{
    font-weight: bold;
    position: relative;
    bottom: -10%;
    font-size: medium;
}
.current a:hover{
    cursor: default;
}
.gabbyad{
    margin: auto;
    position: absolute;
    top: 10%;
    left: 35%;
    width: 325px;
    height: 480px;
    background-color: #C3C3C3;
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-bottom: 2px solid #424242;
    border-right: 2px solid #424242;
    z-index: 10;
}
.gabbyad h1{
    color: #ffffff;
    background-color: #041586;
    font-size: 20px;
    text-align: left;
    margin-top: 0px;
    padding-left: 3px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 8px;
}
.gabbyad h1 img{
    position: absolute;
    right: 4px;
    top: 2px;
    height: 20px;
    width: 20px;
    border: none;
}
.gabbyad h1 img:hover{
    cursor: pointer;
}
.gabbyad img{
    height: 440px;
    width: 315px;
    padding: 0%;
    margin: 0%;
    margin-left: 4px;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #000000;
    border-top: 1px solid #000000;
}
.galleryImage{
    width: 380px;
    height: 225px;
    float: left;
    background: none;
    border-bottom: 2px solid #72106d;
    filter: sepia(80%);
    opacity: 70%;
    transition: 1s;
    margin: 0px;
    padding: 0px;
}
.galleryImage:hover{
    background-color: #8f18c7;
    filter: sepia(0%);
    opacity: 100%;
    transition: 0.5s;
}
.galleryLabel{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
.mobiletext{
    visibility: hidden;
}
.noneType{
    border: none;
    background: none;
    box-shadow: none;
}
.noneType:hover{
    border: none;
}
.noneType:active{
    border: none;
    background: none;
    box-shadow: none;
}
.nopadding{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.popup{
    position: absolute;
    font-size: 12px;
    right: 0px;
    top: 40px;
    width: 128px;
    height: fit-content;
    background: #ebebeb;
    color: #000000;
    overflow-y: hidden;
    overflow-x: hidden;
}
.popup:hover{
    cursor: default;
}
.postLink{
    height: 5%;
    font-size: smaller;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: left;
}
.postLink:hover{
    cursor: pointer;
}
.postLink a{
    color: #000000;
    width: 90%;
    border: none;
}
.postLink a:active{
    color: #ffffff;
    border: dashed 1px #000000;
    background-color: #191889;
}
.projectImages{
    height: 80px;
    filter: saturate(0%);
    border-bottom: 4px solid #72106d;
}
.projectImages:hover{
    cursor: pointer;
    filter: saturate(100%);
}
.softwareLink{
    font-weight: bold;
    color: #72106d;
}
.softwareLink:hover{
    cursor: pointer;
}
.taskbar{
    position: absolute;
    display: block;
    font-size: small;
    width: 100%;
    height: 35px;
    background-color: #000000;
    border-bottom: 4px solid #72106d;
    top: 0px;
}
.vihlWindow{
    background-color: #8f79a3;
    width: 100%;
    border-top: 4px solid #271a2e;
}
.vihlWindow p{
    font-weight: bold;
}
.vihlWindow h2{
    text-decoration: double underline;
}

/* IDs */
#aboutAvatar{
    height: 55%;
    position: absolute;
    transform: translate(12%, -140%);
    margin: 0px;
    padding:0px;
    z-index: 2;
    background-color: #000000;
    border-bottom: 4px solid #72106d;
}
#clock{
    position: absolute;
    text-align: right;
    color: #ffffff;
    width: 130px;
    height: 100%;
    right: 0;
}
#clock p{
    position:relative;
    right: 10%;
    bottom: 25%;
}
#clock img{
    position:absolute;
    left: 5%;
    top: 5px;
    z-index: 3;
}
#clock:hover{
    cursor: default;
}
#commissionWindow{
    display: flex;
    margin-left: 2px;
    margin-right: 2px;
    height: 90%;
    background-color: #C3C3C3;
    border-bottom: 2px solid #e0e0e0;
    border-right: 2px solid #e0e0e0;
    border-left: 2px solid #000000;
    border-top: 2px solid #000000;
}
#commOpen{
    background-color: green;
}
#commClosed{
    background-color: red;
}
#espee{
    position: relative;
    width: 32px;
    margin: 2px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    opacity: 100%;
}
#espee:hover{
    cursor: pointer;
    opacity: 90%;
}
#galleryMain{
    height: 230px;
    width: 1180px;
}
#galleryMain div{
    background-color: #e4e4e4;
    height: 200px;
    display:flex;
    overflow-y:hidden;
    padding-left: 5px;
    overflow-x: scroll;
    border-top: 2px solid #9e9e99;
}
#Id_text{
    text-align: left;
    margin-left: 220px;
}
#info{
    height: 320px;
    z-index: 1;
}
#links{
    width: 440px;
    height: 200px;
}
#links img{
    background: linear-gradient(#000000, #72106d); 
    transition: 1s;
    width: 32px;
    border-radius: 100%;
    padding: 2px 2px 2px 2px;
    
}
#links img:hover{
    background: linear-gradient(#72106d, #000000);
    cursor: pointer;
    transition: 0.5s;
}
#links img:active{
    background-color: #72106d;
}
#linksAvatar{
    height: 68%;
    position: absolute;
    transform: translate(0%, -88%);
    margin: 0px;
    padding:0px;
    z-index: 2;
}
#pageFormat{
    background-color: #ffffff;
    height: 90%;
    width: 98%;
    margin-left: 1px;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-left: 1px solid #000000;
    border-top: 1px solid #000000;
}
#popupLink{
    color: #191889;
}
#popupLink:hover{
    cursor: pointer;
    text-decoration: solid underline;
}
#projects{
    background-color: #19171a;
    color: #ffffff;
}
#projects div{
    overflow-y: scroll;
    overflow-x: hidden;
}
#profile-pic{
    width: 230px;
    border-radius: 100%;
    background: linear-gradient(#72106d, #000000);
}
#softwareWindow{
    background-color: #f1f1f1;
    margin-top: 0px;
    padding-top: 0px;
    width:100%;
    height: 355px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-top: 1px solid #9e9e9e;
}
#softwareWindow img{
    height: 48;
    width: 48px;
}
#taskbarButton{
    background-color: #000000;
    float: left;
    text-align: center;
    width: 100px;
    height: 100%;
}
#taskbarButton:active{
    background-color: #72106d;
}
#taskbarButton:hover{
    background-color: #250824;
    cursor: pointer;
}
#taskbarButton img{
    position: absolute;
    left: 5px;
    top: 2px;
    height: 25px;
}

#taskbarButton a{
    position: relative;
    bottom: -10%;
    font-size: medium;
}

@font-face {
    font-family: mainFont;
    src: url("./fonts/segoeuil.ttf");
}

@media (max-width: 1080px) {
    body{
        font-size: 46px;
    }
    ::-webkit-scrollbar {
        width: 15px;
        padding-left: 0px;
    }
    
    ::-webkit-scrollbar-track {
        background: none;
        border: none;
    }
    
    ::-webkit-scrollbar-thumb {
    background: #acacac;
    }
    .mobiletext{
        visibility: visible;
    }
    .center{
        border: none;
        overflow-y: scroll;
        width: 100%;
        height: 90%;
        align-items: center;
    }
    .center h1{
        visibility: hidden;
        font-size: 38px;
    }
    .center h2{
        font-weight: lighter;
        width: 100%;
        background-color: #000000;
        color: #ffffff;
    }
    .center a{
        visibility: hidden;
    }
    .galleryLabel{
        display: none;
        visibility: hidden;
    }
    .profLink{
        filter: invert(100%);
    }
    .projectImages{
        filter: none;
    }
    .taskbar{
    display: none;
    }
    .popup{
    visibility: hidden;
    }
    #mainLinks{
        visibility: hidden;
    }
}